// Variables & Theme (Must be at the top)
@use 'variables' as *;
@use 'neon-theme';
@use 'shepherd-neon';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Rajdhani:wght@300;400;500;600;700&display=swap');

// Bootstrap
@import 'bootstrap/scss/bootstrap';



/* Disable interaction with the entire range input (track and background) */
input[type="range"] {
  pointer-events: none;
}

/* Re-enable interaction ONLY for the thumb handle */
input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
}

input[type="range"]::-moz-range-thumb {
  pointer-events: auto;
}